.checkoutProducts
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProducts__info
{
    padding-left: 20px;
}

.checkoutProducts__info > button
{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProducts__image
{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProducts__rating
{
    display: flex;
}

.checkoutProducts__title
{
    font-size: 17px;
    font-weight: bold;
}