*{
    margin: 0;
}

body
{
    background-color: rgb(234,237,237);
    margin: 0;
}

button:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 